@import "tailwindcss";

@font-face {
    font-family: Bevellier;
    src: url(../fonts/Bevellier-Variable.woff2);
}

@theme {
    --color-flow-400: #EB5A3C;
    --default-font-family: Bevellier;
    --animate-slider: slider .8s infinite alternate-reverse linear;

    @keyframes slider {
        0% {
            /* transform: translateX(0%); */
            left: 0%;
        }

        100% {
            /* transform: translateX(100%); */
            left: calc(100% - 64px);
        }
    }
}

*::selection {
    background-color: var(--color-flow-400);
    color: black;
}

.scrollbar-none::-webkit-scrollbar {
    width: 10px;
    background-color: #222;
}

.scrollbar-none::-webkit-scrollbar-thumb {
    background-color: var(--color-flow-400);
    cursor: grab;
}